{% from 'macros/tags.njk' import tag %}

{% macro recipecard(recipe) %}
    <div class="overflow-hidden rounded shadow-lg">
        {#    <img class="w-full" src="/mountain.jpg" alt="{{ recipe.data.title }}">#}
        <div class="px-6 py-4">
            <h1 class="mb-2 text-xl font-bold">
                <a href="{{ recipe.url | url }}" class="postlist-link">
                    {% if recipe.data.title %}
                        {{ recipe.data.title }}
                    {% else %}
                        <code>{{ recipe.url }}</code>
                    {% endif %}
                </a>
            </h1>
            <p class="text-base text-gray-700">
                {{ recipe.data.note }}
            </p>
        </div>
        {% if recipe.data.tags.length > 0 %}
            <div class="px-6 pt-4 pb-2">
                {% for tagitem in recipe.data.tags %}
                    {%- if tagitem != "posts" -%}
                        {{tag(tagitem)}}
                    {%- endif -%}
                {% endfor %}
            </div>
        {% endif %}

    </div>
{% endmacro %}