<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title or metadata.title }}</title>
        <meta name="description" content="{{ description or metadata.description }}">
        <meta name="generator" content="{{ eleventy.generator }}">
        <link rel="stylesheet" href="/style.css?v={% version %}"/>
    </head>
    <body>
        <header class="max-w-3xl py-12 mx-auto prose text-slate-400">
            <h1 >
                <a href="/">{{ metadata.title }}</a>
            </h1>
        </header>

        <main class="max-w-3xl px-6 mx-auto prose">
            {{ content | safe }}
        </main>

        <footer></footer>

    </body>
</html>