<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title or metadata.title }}</title>
        <meta name="description" content="{{ description or metadata.description }}">
        <meta name="generator" content="{{ eleventy.generator }}">
        <link rel="stylesheet" href="/style.css?v={% version %}"/>
    </head>
    <body>
        <header>
            <nav class="container flex flex-wrap justify-between max-w-3xl px-8 pt-2 mx-auto">
                <div>
                    <h1>
                        <a href="{{ site.baseUrl }}">{{ metadata.title }}</a>
                    </h1>
                    <p>{{site.description}}</p>
                </div>

            </nav>
        </header>

        <main class="prose">
            {{ content | safe }}
        </main>

        <footer></footer>

    </body>
</html>