<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="generator" content="{{ eleventy.generator }}">
        <link rel="stylesheet" href="/style.css?v={% version %}"/>

        <title>{{ title or metadata.title }}</title>
        <meta name="description" content="{{ description or metadata.description }}">

        <!-- Facebook Meta Tags -->

        <meta property="og:type" content="website">
        <meta property="og:title" content="{{ title or metadata.title }}">
        <meta property="og:description" content="{{ description or metadata.description }}">
        {% ogImage "./og-image.og.njk", { title: title or metadata.title, subtitle:description or metadata.description } %}
        <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
    </head>
    <body>
        <header class="max-w-3xl py-12 mx-auto prose text-slate-400 lg:prose-xl">
            <h1 >
                <a href="/">{{ title or metadata.title}}</a>
            </h1>
        </header>

        <main class="max-w-3xl px-6 mx-auto prose data-pagefind-body">
            {{ content | safe }}
        </main>

        <footer class="flex flex-col items-start justify-center w-full max-w-4xl pt-8 mx-auto mb-8">
            <div class="grid w-full max-w-4xl grid-cols-1 gap-4 px-4 pb-16 sm:grid-cols-2 sm:px-8">
                <div class="flex flex-col space-y-4">
                    <a target="_blank" rel="noopener noreferrer" class="text-gray-500 transition hover:text-gray-300" href="https://github.com/dzenzes/recipes/issues/new/choose" title="Rezept vorschlagen">Rezept vorschlagen</a>
                    <a class="text-gray-500 transition hover:text-gray-300" href="https://zenzes.me/impressum/" title="Impressum zu dieser Seite">Impressum</a>
                </div>
            </div>
        </footer>
        <script src="/pagefind/pagefind-ui.js" onload="new PagefindUI({ element: '#search', showImages: false });"></script>
    </body>
</html>