---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
---

{% from 'macros/card.njk' import recipecard %}

<p>
  Ich teste immer wieder gerne neue Rezepte und habe hier einige davon gesammelt um überall darauf zugreifen zu können. 🧑‍🍳
</p>

<section class="grid grid-cols-1 gap-5 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3">
  {% for recipe in collections.recipes %}
    {{recipecard(recipe)}}
  {% endfor %}
</section>