---
layout: null
permalink: "sharing-pages.json"
---

[
{% for recipe in collections.recipes %}
  {
    "title": "{{ recipe.data.title }}",
    "image": "{{ recipe.fileSlug | toSocialSharingImagePath }}"
  }{% if not loop.last %}, {% endif %}
{% endfor %}
]