---
layout: null
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Social sharing image generator</title>
        <link rel="stylesheet" href="/style.css?v={% version %}"/>
        <style>
            * {
                padding: 0;
                margin: 0;
                box-sizing: border-box;
            }

            .background {
                width: 600px;
                height: 315px;
            }
        </style>
    </head>
    <body>

        <div class="flex items-center prose bg-gray-100 background">
            <div class="p-8 prose">
                <p class="p-0 m-0">Daniels Rezepte</p>
                <h1 id="slot"></h1>
            </div>
        </div>

        <script>
            const queryString = window.location.search
            const urlParams = new URLSearchParams(queryString)
            const title = urlParams.get("title") || "Example"

            const slot = document.getElementById("slot")

            slot.innerHTML = title
        </script>

    </body>
</html>