---
layout: layouts/base.njk
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
permalink: /tags/{{tag}}/
---

<h1>Tag “{{ tag | formatTag }}”</h1>

<ol>
  {% set taglist = collections[tag] %}
  {% for post in taglist | reverse %}
    <li>
      <a href="{{ post.url | url }}">{{ post.data.title }}</a>
    </li>
  {% endfor %}
</ol>

<p>
  Alle Tags kann man sich <a href="/tags/">hier</a> ansehen.
</p>